<header class="masthead bg-primary text-white text-center">
    <div class="container">
        <img class="img-fluid mb-5 d-block mx-auto" src="../assets/images/profile.png" alt="">
         <!--<h1 class="text-uppercase mb-0">Start Logging System</h1>-->
        <button class="btn btn-xl btn-primary" [routerLink]="['logs']"><h1 class="text-uppercase mb-0">Start Logs</h1></button>
        <hr class="star-light">
    </div>
</header>