<section class="portfolio">
    <div class="container">
        <div class="row">
            <button class="btn btn-dark" [routerLink]="['/logs']">Back</button>
        </div>
        <h1>Add Log</h1>
        <form [formGroup]="logForm" (submit)="createLog()">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" formControlName="title"
                       [ngClass]="{error: title.touched && title.invalid}">
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <input type="text" class="form-control" id="description" formControlName="description"
                       [ngClass]="{error: description.touched && description.invalid}">
            </div>
            <div class="form-group">
                <label for="statusCode">Status code</label>
                <input type="number" class="form-control" id="statusCode" formControlName="status_code"
                       [ngClass]="{error: status_code.touched && status_code.invalid}">
            </div>
            <div class="form-group">
                <label for="path">Path</label>
                <input type="text" class="form-control" id="path" formControlName="path"
                       [ngClass]="{error: path.touched && path.invalid}">
            </div>
            <button type="submit" class="btn btn-success">Add</button>
        </form>
    </div>
</section>