<section class="portfolio">
<div class="container">
    <div class="row">
        <button class="btn btn-success" [routerLink]="['/log/add']">Add Log</button>
    </div>

    <div class="row">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Status code</th>
                <th scope="col">Path</th>
                <th scope="col">Created at</th>
                <th scope="col">-</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><input type="text" class="form-control" placeholder="title" [(ngModel)]="searchTitle" (keyup.enter)="getLogsPaginated()"></td>
                <td><input type="text" class="form-control" placeholder="description" [(ngModel)]="searchDescription" (keyup.enter)="getLogsPaginated()"></td>
                <td><input type="text" class="form-control" placeholder="statusCode" [(ngModel)]="searchStatusCode" (keyup.enter)="getLogsPaginated()"></td>
                <td></td>
                <td></td>
            </tr>
            <tr *ngFor="let log of logs| paginate: { itemsPerPage: itemsPerPage, currentPage: page, totalItems: totalLogsCount }; let i=index;">
                <td scope="row">{{log.title}}</td>
                <td>{{log.description}}</td>
                <td>{{log.status_code}}</td>
                <td>{{log.path}}</td>
                <td>{{log.created_at | date : 'medium'}}</td>
                <td><button class="btn btn-info" [routerLink]="['/log/'+log._id]">Show</button> </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="row">
        <pagination-controls class="my-pagination" (pageChange)="pageChanged($event)" nextLabel="next" previousLabel="previous"></pagination-controls>
    </div>
</div>
</section>
