<section class="portfolio">

    <div class="container">

        <div class="row">
            <button class="btn btn-dark" [routerLink]="['/logs']">Back</button>
        </div>
        <br>
        <div *ngIf="log">
            <h3>
                Show log data
            </h3>
            <ul class="list-group">
                <li class="list-group-item"><b class="text-head">title: </b>{{log.title}}</li>
                <li class="list-group-item"><b class="text-head">description: </b>{{log.description}}</li>
                <li class="list-group-item"><b class="text-head">status code: </b>{{log.status_code}}</li>
                <li class="list-group-item"><b class="text-head">path: </b>{{log.path}}</li>
            </ul>
        </div>

        <div *ngIf="!log">
            <h1>No log data</h1>
        </div>
    </div>

</section>